<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos Cargados</title>
</head>
<body>
<h1>Productos Cargados</h1>
<% if (prod.length > 0) { %>
    <table style="width:100% ; border:1px solid black">
        <th>Producto</th>
        <th>Precio</th>
        <th>Imagen</th>
        <% prod.forEach(producto => { %>
            <tr>
                <td style="border:1px solid black"><%=producto.title%></td>
                <td style="border:1px solid black"><%=producto.price%></td>
                <td style="border:1px solid black">
                    <img src="<%=producto.thumbnail%>" width="100" height="100">
                </td>
            </tr>
        <% }) %>
    </table>
<% } else { %>
    <h3>No se encontraron productos cargados</h3>
<% } %>

<form id="productForm" action="/" method="get">
    <button>Cargar mas productos</button>
</form>

</body>
</html>